PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE PUBLISHER (
    Publisher_Name VARCHAR(50) PRIMARY KEY,
    Phone VARCHAR(20),
    Address TEXT
);
INSERT INTO PUBLISHER VALUES('HarperCollins','212-207-7000','195 Broadway, New York, NY 10007');
INSERT INTO PUBLISHER VALUES('Penguin Books','212-366-3000','475 Hudson St, New York, NY 10014');
INSERT INTO PUBLISHER VALUES('Penguin Classics','212-366-2000','123 Main St, California, CA 01383');
CREATE TABLE LIBRARY_BRANCH (
    Branch_Id INT PRIMARY KEY,
    Branch_Name VARCHAR(50) NOT NULL,
    Branch_Address TEXT NOT NULL
, LateFee float);
INSERT INTO LIBRARY_BRANCH VALUES(1,'Main Branch','123 Main St, New York, NY 10003',1.5);
INSERT INTO LIBRARY_BRANCH VALUES(2,'West Branch','456 West St, Arizona, AR 70622',2.5);
INSERT INTO LIBRARY_BRANCH VALUES(3,'East Branch','789 East St, New Jersy, NY 32032',3.0);
CREATE TABLE BOOK_LOANS (
	Book_Id INT,
	Branch_Id INT,
	Card_No INT,
	Date_Out DATE,
	Due_Date DATE,
	Returned_date DATE, Late int,
	PRIMARY KEY (Book_Id, Branch_Id, Card_No, Date_Out),
	FOREIGN KEY (Book_Id) REFERENCES BOOK(Book_Id),
	FOREIGN KEY (Branch_Id) REFERENCES LIBRARY_BRANCH(Branch_Id),
	FOREIGN KEY (Card_No) REFERENCES BORROWER(Card_No)
);
INSERT INTO BOOK_LOANS VALUES(1,1,123456,'2022-01-01','2022-02-01','2022-02-01',0);
INSERT INTO BOOK_LOANS VALUES(2,1,789012,'2022-01-02','2022-02-02',NULL,1);
INSERT INTO BOOK_LOANS VALUES(3,2,345678,'2022-01-03','2022-02-03',NULL,1);
CREATE TABLE BOOK_COPIES (
    Book_Id INT,
    Branch_Id INT,
    No_Of_Copies INT,
    PRIMARY KEY (Book_Id, Branch_Id),
    FOREIGN KEY (Book_Id) REFERENCES BOOK(Book_Id) ,
    FOREIGN KEY (Branch_Id) REFERENCES LIBRARY_BRANCH(Branch_Id)
);
INSERT INTO BOOK_COPIES VALUES(1,1,3);
INSERT INTO BOOK_COPIES VALUES(2,1,2);
INSERT INTO BOOK_COPIES VALUES(3,2,1);
CREATE TABLE IF NOT EXISTS "BOOK_AUTHORS" (
	Book_Id INTEGER PRIMARY KEY,
	Author_Name VARCHAR(50)
);
INSERT INTO BOOK_AUTHORS VALUES(1,'Harper Lee');
INSERT INTO BOOK_AUTHORS VALUES(2,'George Orwell');
INSERT INTO BOOK_AUTHORS VALUES(3,'Jane Austen');
CREATE TABLE IF NOT EXISTS "BOOK" (
    Book_Id INTEGER PRIMARY KEY,
    Title VARCHAR(50) NOT NULL,
    Publisher_Name VARCHAR(50),
    FOREIGN KEY (Publisher_Name) REFERENCES PUBLISHER(Publisher_Name) ON DELETE SET NULL
);
INSERT INTO BOOK VALUES(1,'To Kill a Mockingbird','HarperCollins');
INSERT INTO BOOK VALUES(2,'1984','Penguin Books');
INSERT INTO BOOK VALUES(3,'Pride and Prejudice','Penguin Classics');
CREATE TABLE IF NOT EXISTS "BORROWER" (
    Card_No INTEGER PRIMARY KEY,
    Name VARCHAR(50) NOT NULL,
    Address TEXT NOT NULL,
    Phone VARCHAR(20) NOT NULL
);
INSERT INTO BORROWER VALUES(111111,'Alex Kim','983 Sine St, Arizona, AR 70451','678-784-5563');
INSERT INTO BORROWER VALUES(121212,'Chloe Park','345 Shark St, Arizona, AR 72213','755-905-5572');
INSERT INTO BORROWER VALUES(123456,'John Smith','456 Oak St, Arizona, AR 70010','205-555-5555');
CREATE VIEW vBookLoanInfo
AS SELECT BOR.Card_No, BOR.Name AS Borrower_Name, BL.Date_Out, BL.Due_Date, BL.Returned_date, 
CASE
    WHEN BL.Returned_date IS NOT NULL AND BL.Returned_date != ' NULL'
        THEN (julianday(BL.Returned_date) - julianday(BL.Date_Out))
    ELSE (julianday('now') - julianday(BL.Date_out)) 
END AS TotalDays, 
B.Title AS Book_Title, 
CASE
    WHEN BL.Returned_date IS NOT NULL AND BL.Returned_date != 'NULL' AND julianday(BL.Returned_date) > julianday(BL.Due_Date)
        THEN (julianday(BL.Returned_date) - julianday(BL.Due_Date))
    ELSE 0
END AS Days_Late,
BL.Branch_Id,
CASE
    WHEN BL.Returned_date IS NOT NULL AND BL.Returned_date != 'NULL' AND julianday(BL.Returned_date) > julianday(BL.Due_Date)
        THEN (julianday(BL.Returned_Date) - julianday(BL.Due_Date)) * LB.LateFee
    ELSE 0
END AS LateFeeBalance

FROM BOOK_LOANS BL
JOIN BOOK B ON BL.Book_Id = B.Book_Id
JOIN BORROWER BOR ON BL.Card_No = BOR.Card_No
JOIN LIBRARY_BRANCH LB ON BL.Branch_Id = LB.Branch_Id;
CREATE TRIGGER update_book_copies
        AFTER INSERT ON BOOK_LOANS
        FOR EACH ROW
        BEGIN
            UPDATE BOOK_COPIES
            SET No_Of_Copies = No_Of_Copies - 1
            WHERE Book_Id = NEW.Book_Id AND Branch_Id = NEW.Branch_Id;
        END;
COMMIT;
